# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# TypeScript
dist/
build/
*.tsbuildinfo

# Environment variables
.env
.env.*

# Logs
logs/
*.log
*.log.*
pids/
*.pid
*.seed

# OS files
.DS_Store
Thumbs.db

# IDE/editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# Build outputs
coverage/
.nyc_output/
jest-test-results.json

# Misc
*.tscache
*.swp
*.lock
audio/
